.js-plotly-plot .plotly .modebar {
    transform: translate(-50%, 150%);
}
.modebar-btn .icon path {
    fill: rgb(68, 68, 68) !important;
}

.js-plotly-plot .plotly:hover .modebar-group {
    background-color: transparent !important;
}